/* Login View Css */

.login-box-image
{
   background-image: url("../Images/login-page-background.jpg");
}

.login-box-content
{
   background-color : #FFFFFF; 
   padding : 50px; 
   text-align:center;
   -webkit-box-shadow: 10px 10px 88px 25px rgba(196,182,196,1);
   -moz-box-shadow: 10px 10px 88px 25px rgba(196,182,196,1);
   box-shadow: 10px 10px 88px 25px rgba(196,182,196,1);
}

